{% extends template.self %}

{% block body %}
    {{ super() }}
    <script>
      const loc = window.location.href+'';
      if (/http:\/\//.test(loc) && /frama\./.test(window.location.host)){
        window.location.href = loc.replace('framasoft.frama.io/framacloud','framacloud.org').replace('http://','https://');
      }

      const nav = document.createElement('script');
      nav.src="https://framasoft.org/nav/nav.js";
      document.getElementsByTagName('head')[0].appendChild(nav);

      setInterval(function() {
        if (/frama\.io/.test(window.location.host) && !document.getElementById('gitlab-shortcuts')) {
          const gpages = window.location.href;
          const user = gpages.split('/')[2].replace('.frama.io', '');
          const project = gpages.split('/')[3];
          const newpage = gpages
            .replace(window.location.host, 'framagit.org/framasoft')
            .replace(`/${project}/`, `/${project}/-/wikis/`)
            .replace(/\/[^\/]*\.html$/, '/')
            .replace(/\/?$/, '/Page title');
          const buttons = `
            <div id="gitlab-shortcuts">
              <button onclick="window.open('${newpage}');" class="btn btn-outline-secondary text-uppercase">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Ajouter une page
              </a></button>
              <a href="https://framagit.org/${user}/${project}/-/pipelines" title="Actualiser cette preview" class="btn btn-outline-secondary">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <span class="sr-only">Preview</span>
              </a>
              <a href="https://framagit.org/framasoft/${project}/-/pipelines" title="Mettre en production" class="btn btn-outline-secondary">
                <i class="fa fa-rocket" aria-hidden="true"></i>
                <span class="sr-only">Prod</span>
              </a>
            </div>
          `;
          document.querySelector('.book-header').insertAdjacentHTML('beforeend', buttons)
        }
      }, 1000);
    </script>
{% endblock %}
