@import 'bootstrap.min.css';

/* Header */
.book-header {
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e2e8f0;
  width: 100%;
  display: flex;
  align-items: center;
}

.page-wrapper {
  margin-top: 42px;
}

.font-settings.js-toolbar-action,
.book-header h1 {
  display: none;
}

.book-header .btn {
  height: auto;
}

.book-header .js-toolbar-action:nth-child(2),
.book-header .btn-outline-secondary {
  float: left;
  padding: 0.375rem 0.75rem;
  line-height: 1rem;
  margin-right: 10px;
  border-radius: 0.25rem;

  color: #4a5568;
  border: 1px solid #4a5568;
}

.book-header .js-toolbar-action:nth-child(2):hover,
.book-header .js-toolbar-action:nth-child(2):focus,
.book-header .btn-outline-secondary:hover,
.book-header .btn-outline-secondary:focus {
  color: #fff;
  background-color: #4a5568;
  border-color: #4a5568;
}

#book-search-input {
  margin-bottom: 0;
  background: #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
  border-top: none;
  display:flex;
  align-items: center;
}

#book-search-input::before {
  font-family: FontAwesome;
  font-size: 1.2em;
  content: "\f002";
  padding: 0 7px;
}

#book-search-input input { background: #fff !important; }
/* --- */

.markdown-section p > code,
.markdown-section li > code {
  color: #d63384;
}

.markdown-section img {
  border: 5px solid #e2e8f0;
  /* padding: 5px;*/
  margin: 1px;
}

.markdown-section .fa-lg {
  font-size: 1.33333333em !important;
}

.markdown-section .fa {
  color: #677890;
}

pre {
  border: 1px solid #cbd5e0 !important;
}

.page-wrapper a {
  color: #1f1f1f;
  text-decoration: none;
  border-bottom: 2px solid #a0aec0;
}

.page-wrapper a:hover,
.page-wrapper a:focus {
  color: #1a202c;
  text-decoration: none;
  border-color: #a87ede;
}

.page-wrapper .btn-default {
  border: 1px solid #a0aec0;
  margin-bottom: 1rem;
}

.summary a,
.book-body .navigation {
  text-decoration: none !important;
}

.page-toc a,
.page-wrapper .anchorjs-link {
  border: none;
}

.page-toc {
  background-color: #f7fafc;
  border: 1px solid #edf2f7;
}

.markdown-section .btn-block {
  margin-bottom: 30px;
}

.markdown-section .col-md-3 .btn-block {
  min-height: 140px;
}
/* Summary */
.book-summary {
  color: #4a5568;
  background: #edf2f7;

  display: flex;
  flex-direction: column;
}

.book-summary nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.book-summary ul.summary li.header {
  color: #4a5568;
  font-weight: bold;
  border-top: 1px solid #e2e8f0;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  padding: .325rem .75rem;
  font-size: .875rem;
}

.summary {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.summary .divider {
  visibility: hidden;
}

.chapter {
  background-color: #edf2f7;
  border-bottom: none;
}

.chapter ul {
  padding-bottom: 10px;

}

.chapter ul li{
  background-color: #fff;
  border: none
}

.chapter.active {
  border-left: 4px solid #dd6418;
  background: #fee7c8;
}

.chapter.active a {
  margin-left: -4px;
}

.book-summary ul.summary li.active > a {
  color: #9c3c1c;
}

.book-summary ul.summary li.active > a::before {
  color: #cc4e13;
}

.summary .chapter > a::before {
  font-family: FontAwesome;
}

.summary > .chapter:nth-child(1) a::before { content: "\f015"; }

.summary .chapter > a[href$="cultivate-your-garden/"]::before { content: "\f06c";}
.summary .chapter > a[href$="cultiver-son-jardin/"]::before { content: "\f06c";}

.summary .chapter > a[href$="cabane-a-outils/"]::before { content: "\f0ad"; }

.summary .chapter > a[href$="echange-de-graines/"]::before { content: "\f043"; margin-right: 7px;}

.summary .chapter:nth-child(1) > a[href$="nextcloud.html"]::before { content: "\f073"; }
.summary .chapter > a[href$="wisemapping.html"]::before { content: "\f0e8"; }
.summary .chapter > a[href$="framadate.html"]::before { content: "\f274"; }
.summary .chapter > a[href$="etherpad.html"]::before { content: "\f036"; }
.summary .chapter > a[href$="ethercalc.html"]::before { content: "\f00a"; }
.summary .chapter > a[href$="svg-edit.html"]::before { content: "\f1fc"; }
.summary .chapter > a[href$="ttrss.html"]::before { content: "\f1ea"; }
.summary .chapter > a[href$="wallabag.html"]::before { content: "\f0b1"; }
.summary .chapter > a[href$="diaspora.html"]::before { content: "\f2e5"; }
.summary .chapter > a[href$="peertube.html"]::before { content: "\f2e4"; }
.summary .chapter > a[href$="lstu.html"]::before { content: "\f0c1"; }
.summary .chapter > a[href$="gitlab.html"]::before { content: "\f1d3"; }
.summary .chapter > a[href$="lutim.html"]::before { content: "\f03e"; }
.summary .chapter > a[href$="privatebin.html"]::before { content: "\f0ea"; }
.summary .chapter > a[href$="searx.html"]::before { content: "\f002"; }
.summary .chapter > a[href$="bicbucstriim.html"]::before { content: "\f0f4"; }
.summary .chapter > a[href$="nextcloud.html"]::before { content: "\f0ee"; }
.summary .chapter > a[href$="kanboard.html"]::before { content: "\f0e4"; }
.summary .chapter > a[href$="lufi.html"]::before { content: "\f1d8"; }
.summary .chapter > a[href$="umap.html"]::before { content: "\f279"; }
.summary .chapter > a[href$="loomio.html"]::before { content: "\f0a1"; }
.summary .chapter:nth-child(26) > a[href$="gitlab.html"]::before { content: "\f0e6"; }
.summary .chapter > a[href$="sympa.html"]::before { content: "\f0c0"; }
.summary .chapter > a[href$="yakforms.html"]::before { content: "\f0ca"; }
.summary .chapter > a[href$="turtl.html"]::before { content: "\f249"; }
.summary .chapter > a[href$="jitsi-meet.html"]::before { content: "\f03d"; }
.summary .chapter > a[href$="minetest.html"]::before { content: "\f1b2"; }
.summary .chapter > a[href$="scrumblr.html"]::before { content: "\f247"; }
.summary .chapter > a[href$="shaarli.html"]::before { content: "\f005"; }
.summary .chapter > a[href$="framaestro.html"]::before { content: "\f0d0"; }
.summary .chapter > a[href$="framaslides.html"]::before { content: "\f200"; }
.summary .chapter > a[href$="mastodon.html"]::before { content: "\f079"; }
.summary .chapter > a[href$="dolomon.html"]::before { content: "\f25a"; }
.summary .chapter > a[href$="grav.html"]::before { content: "\f0ac"; }

.summary .chapter > a[href$="auto-hebergement/"]::before { content: "\f02d"; }

.summary .chapter > a[href$="archives.html"]::before { content: "\f187"; }

/* Archives */
.summary > li:nth-last-child(4),
.summary > li:nth-last-child(2),
.summary > li:nth-last-child(1) {
  display: none;
}

.summary .chapter[data-path*="archives.html"] {
  margin-top: auto;
}

.page-toc::before {
  content: none;
}

.page-toc {
  max-width: 42%;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .page-toc {
    max-width: 100%;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.pull-right.js-toolbar-action {
  display: none;
}

i.glyphicon-tree-deciduous,
i.glyphicon-tree-conifer,
i.glyphicon-tree-deciduous::before,
i.glyphicon-tree-conifer::before {
  font-size:200px;
  color: #677890;
  display: block;
  text-align: center;
}

img[src^="images/"] {
  margin: 30px auto;
  display: block;
}

/* Home fix */
.btn-primary {
  color: #fff !important;
  background-color: #725794 !important;
  border-color: #725794 !important;
}
.btn-success {
  color: #fff !important;
  background-color: #6c7e31 !important;
  border-color: #6c7e31 !important;
}
.btn-info {
  color: #fff !important;
  background-color: #2c6a82 !important;
  border-color: #2c6a82 !important;
}
.btn-warning {
  color: #fff !important;
  background-color: #cc4e13 !important;
  border-color: #cc4e13 !important;
}
.btn-soutenir {
  color: #fff !important;
  background: #a3551d linear-gradient(30deg,#c47123,#d4820c) !important;
  border-color: #c47123 !important;
}

.btn i.glyphicon-tree-deciduous,
.btn i.glyphicon-tree-deciduous::before {
  font-size: inherit;
  color: inherit;
  display: inline;
  text-align: left;
}

.markdown-section p.text-center > .btn-block {
  width: 50%;
  margin: auto;

}

.btn-block {
  white-space: normal;
}

/* Fix nav */
html {
  font-size: 100%;
}

.book.font-size-2 .book-body .page-inner section {
  font-size: inherit;
}

#f-footer, #f-footer[style] {
  display: none !important;
}
